.txt{

color: var(--color-white);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;

/* display: flex;
flex-direction: column;
align-items:center;
justify-content:center; */

}

